<h3>Welfinity Markets</h3>

<div *ngIf="showProgressBar">
  <mat-progress-bar   mode="indeterminate"></mat-progress-bar>
</div>

 <mat-table   #table [dataSource]="markets">
          <!-- Country Column -->
          <ng-container class="search-result" matColumnDef="country">
              <mat-header-cell *matHeaderCellDef> Country </mat-header-cell>
              <mat-cell *matCellDef="let element" > {{element.country}} </mat-cell>
            </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
          </ng-container>
      
          <!-- Description Column -->
          <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
          </ng-container>
      
          <!-- Action Edit Column -->
          <ng-container matColumnDef="action_edit">
            <mat-header-cell *matHeaderCellDef> Edit </mat-header-cell>
            <mat-cell *matCellDef="let element"> <button mat-raised-button color="primary" (click)="onEditClicked(element)">Edit</button > </mat-cell>
          </ng-container>
          
           <!-- Action Delete Column -->
           <ng-container matColumnDef="action_delete">
            <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
            <mat-cell *matCellDef="let element"> <button mat-raised-button color="primary" (click)="onDeleteClicked(element)">Delete</button> </mat-cell>
          </ng-container>
                
          <!-- Action Generate Column -->
          <ng-container matColumnDef="action_generate">
            <mat-header-cell *matHeaderCellDef> Generate </mat-header-cell>
            <mat-cell *matCellDef="let element"> <button mat-raised-button color="primary"  (click)="onGenerateClicked(element)">Generate</button> </mat-cell>
          </ng-container>

          
           <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row  *matRowDef="let row;  columns: displayedColumns;"   [style.background]="row == hoverindex ? 'lightblue' : ''"  (mouseover)="onRowHover(row)" (mouseleave)="onRowLeave()" (click)="onRowClicked(row)"></mat-row>

        </mat-table>

        <div>
          <h3>Create Market</h3>
          <button type="button"  (click)="onCreateClicked()">Create</button>
        </div>

<app-market-search></app-market-search>