
<div *ngIf="showProgressBar">
  <mat-progress-bar   mode="indeterminate"></mat-progress-bar>
</div>

<div fxLayout="column" fxLayoutAlign=" start" fxFlexFill>
  
      
    <div class="search-compomnent">
      <app-product-search (onProductSelected)="onProductSelected($event)"></app-product-search>
    </div>
     
  
    <div class="table">
       <product-table-component [initial_products]="initial_products" ></product-table-component>
    </div>


    <div class="Dates">
      <h4>Dates Interval</h4>
        <mat-form-field>
            <input matInput [matDatepicker]="picker1" placeholder="Start Date"
                    (dateInput)="addStartDate('input', $event)" (dateChange)="addStartDate('change', $event)">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>

        <mat-form-field>
              <input matInput [matDatepicker]="picker2" placeholder="End Date"
                    (dateInput)="addEndDate('input', $event)" (dateChange)="addEndDate('change', $event)">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>

            
              

      </div>

      <div class="action-button-row">
        <button mat-raised-button color="primary" lass="Extract" title="Perform Data Extraction" (click)="performAggregation()">Aggregate</button >
        <button mat-raised-button color="primary" lass="CreateMarket" title="Create a Market With Selected Products" (click)="createMarket()">Create Market</button >
      </div>
   
  </div>
