<h2>Welfinity Aggregation Service</h2>
<div *ngIf="showProgressBar">
  <mat-progress-bar   mode="indeterminate"></mat-progress-bar>
</div>

<div fxLayout="row" fxLayoutAlign=" start" fxFlexFill>
  
      <div id="search-component">
        <h4>Product Search</h4>
        <input  #searchBox id="search-box" (keyup)="search(searchBox.value)"  />

         <button class="Extract" title="Perform Data Extraction"
            (click)="WDM_Extract_and_Aggregate_Multiple()">Aggregate</button>
        
        <ul class="search-result">
          <li *ngFor="let product of products$ | async" >
            <a >
            <a (click)="addProductToTable(product.FDI_0001,product.FDI_0004)"> <span class="badge"> {{product.FDI_0001}}</span>  {{product.FDI_0004}}</a>      
            </a>
          </li> 
        </ul>

        <h4>Dates Interval</h4>
          <mat-form-field>
              <input matInput [matDatepicker]="picker1" placeholder="Start Date"
                    (dateInput)="addStartDate('input', $event)" (dateChange)="addStartDate('change', $event)">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>





          <mat-form-field>
              <input matInput [matDatepicker]="picker2" placeholder="End Date"
                    (dateInput)="addEndDate('input', $event)" (dateChange)="addEndDate('change', $event)">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
      </div>
  
    <div table>

    <div class="product-container mat-elevation-z8">
        <div class="product-header">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
        </div>
      
        <mat-table #table [dataSource]="dataSource">
      
          <!-- Aic Column -->
          <ng-container matColumnDef="code">
            <mat-header-cell *matHeaderCellDef> Code </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.code}} </mat-cell>
          </ng-container>
      
          <!-- Description Column -->
          <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef> DESCRIPTION </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
          </ng-container>
      
           <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>
    </div>
  </div>

  <div class="product Table">

    <product-table-component [selected_item]="selected_item"></product-table-component>

  </div>