<div *ngIf="showProgressBar">
    <mat-progress-bar   mode="indeterminate"></mat-progress-bar>
</div>

<mat-table   #table [dataSource]="markets">
    <!-- Country Column -->
    <ng-container class="search-result" matColumnDef="country">
        <mat-header-cell *matHeaderCellDef> Country </mat-header-cell>
        <mat-cell *matCellDef="let element" > {{element.country}} </mat-cell>
      </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
    </ng-container>

    <!-- Codes Column -->
    <ng-container matColumnDef="codes">
      <mat-header-cell *matHeaderCellDef> Codes </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.codici}} </mat-cell>
    </ng-container>
    

     <!-- Action Aggreagate Column -->
     <ng-container matColumnDef="action_aggregate">
      <mat-header-cell *matHeaderCellDef> Aggregate </mat-header-cell>
       <mat-cell *matCellDef="let element"> <button mat-raised-button (click)="onAggregateClicked(element)">Generate</button> </mat-cell>
    </ng-container>

     <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row  *matRowDef="let row;  columns: displayedColumns;"   [style.background]="row == hoverindex ? 'lightblue' : ''"  (mouseover)="onRowHover(row)" (mouseleave)="onRowLeave()" (click)="onRowClicked(row)"></mat-row>



    
  </mat-table>

  <div>
  <h4>Dates Interval</h4>
  <mat-form-field>
      <input matInput [matDatepicker]="picker1" placeholder="Start Date"
            (dateInput)="addStartDate('input', $event)" (dateChange)="addStartDate('change', $event)">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

  <mat-form-field>
      <input matInput [matDatepicker]="picker2" placeholder="End Date"
            (dateInput)="addEndDate('input', $event)" (dateChange)="addEndDate('change', $event)">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
</div>
