/* Structure */
.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  min-width: 500px;
  max-height: 700px;
}

.products_table {
  min-width: 300px;
  max-height: 700px;
}