

<div class="cointainer" *ngIf="market" fxLayout="column" fxLayoutAlign="center stretch">
 

  <div  >
    <label>Name:
      <input [(ngModel)]="market.name" placeholder="name">
    </label>
    </div>

    <div >
    <label>Codici:
      <input [(ngModel)]="market.codici" placeholder="codici">
    </label>
    </div>

    <div >
    <label>Country:
      <input [(ngModel)]="market.country" placeholder="country">
    </label>
    </div>

    <div >
    <label>Description:
      <input [(ngModel)]="market.description" placeholder="description">
    </label>
  </div>

  <div >
 
 

  </div>
  <button  *ngIf="!isCreation" (click)="update()">Update</button>
  <button  *ngIf="isCreation" (click)="create()">Create</button>
  <button  (click)="goBack()">Go back</button>

