

<div class="cointainer" *ngIf="market" fxLayout="column" fxLayoutAlign="center stretch">
 

  <div class >
    <label>Name:
      <input [(ngModel)]="market.name" placeholder="name">
    </label>
    </div>

    <div class>
    <label>Codici:
      <input [(ngModel)]="market.codici" placeholder="codici">
    </label>
    </div>

    <div class>
    <label>Country:
      <input [(ngModel)]="market.country" placeholder="country">
    </label>
    </div>

    <div class>
    <label>Description:
      <input [(ngModel)]="market.description" placeholder="description">
    </label>
  </div>

</div>

<button (click)="goBack()">Go back</button>
<button (click)="create()">Create</button>
<button (click)="update()">Update</button>
